div{
    border: 1px solid rgb(145, 238, 153);
    padding: 20px;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 14, 20);
    color: rgb(145, 238, 153);
}
.App{

}

.container{
    width: 50%;
}