:root {
  --main-color: rgb(145, 238, 153);
  --background-color: rgb(14, 14, 20);
}
div {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--main-color);
  
}
p, h1, h2, h3, h4, li, ul{
  margin: 0
}
.App {
}

.container {
  width: 50%;
}
input::placeholder{
  font-family: 'Roboto Mono', monospace;
}