:root {
  --main-color: rgb(145, 238, 153);
  --background-color: rgb(14, 14, 20);
}
div {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--main-color);
  
}
p, h1, h2, h3, h4, li, ul{
  margin: 0
}
.App {
}
.main-content{
  height: 85vh;
}
.container {
  width: 50%;
}
input::placeholder{
  font-family: 'Roboto Mono', monospace;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color:var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 4px;
transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}